NODE_ENV=development
APP_NAME=projeto-alfa-worker
LOG_LEVEL=debug

DATABASE_URL=postgres://postgres:teste123@127.0.0.1:5432/projeto_alfa
REDIS_URL=redis://127.0.0.1:6379
RABBITMQ_URL=amqp://admin:admin@127.0.0.1:5672

WORKER_CONCURRENCY=5
PROMETHEUS_PORT=9465
