# Shared local defaults
NODE_ENV=development
LOG_LEVEL=debug

# Host services
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=teste123
POSTGRES_DB=projeto_alfa

REDIS_URL=redis://127.0.0.1:6379
RABBITMQ_URL=amqp://admin:admin@127.0.0.1:5672

PROMETHEUS_URL=http://127.0.0.1:9090
GRAFANA_URL=http://127.0.0.1:3001
