NODE_ENV=development
PORT=3000
APP_NAME=projeto-alfa-admin
APP_URL=http://localhost:3000
LOG_LEVEL=debug

ADMIN_API_URL=http://localhost:4000
GRAFANA_URL=http://127.0.0.1:3001
PROMETHEUS_URL=http://127.0.0.1:9090
