NODE_ENV=development
PORT=4000
APP_NAME=projeto-alfa-api
APP_URL=http://localhost:4000
LOG_LEVEL=debug

DATABASE_URL=postgres://postgres:teste123@127.0.0.1:5432/projeto_alfa
REDIS_URL=redis://127.0.0.1:6379
RABBITMQ_URL=amqp://admin:admin@127.0.0.1:5672

JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
KYC_PROVIDER=mock
KYC_MOCK_DEFAULT_STATUS=approved

PROMETHEUS_PORT=9464
RISK_MAX_ORDER_QUANTITY=1000
RISK_MAX_ORDER_RESERVE_AMOUNT=25000
RISK_MAX_OPEN_ORDERS_PER_MARKET=25
RISK_MAX_GROSS_EXPOSURE_PER_MARKET=5000
RISK_MAX_WITHDRAWAL_AMOUNT=10000
RISK_MAX_DAILY_WITHDRAWAL_AMOUNT=25000
