NODE_ENV=development
PORT=4000
APP_NAME=projeto-alfa-api
APP_URL=http://localhost:4000
LOG_LEVEL=debug

DATABASE_URL=postgres://postgres:teste123@127.0.0.1:5432/projeto_alfa
REDIS_URL=redis://127.0.0.1:6379
RABBITMQ_URL=amqp://admin:admin@127.0.0.1:5672

JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
KYC_PROVIDER=mock
KYC_MOCK_DEFAULT_STATUS=approved

PROMETHEUS_PORT=9464
